<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Add Reset Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <h1 id="title">Start Bootstrap</h1>
        <ul>
            <li>Portfolio</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    <div class="content">
        <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" alt="profile" />
        <h1>Start Bootstrap</h1>
        <i style="margin-top: 10px; margin-bottom: 10px;" class="fa fa-star"></i>
        <p>Graphic Artist - Web Designer - Illustrator</p>
        
    </div>

    <footer>
        <p>Copyright © Your Website 2023</p>
    </footer>
</body>
</html>


<!-- CDN Kullanmanın Avantajları 
1. Normal statik dosyaları yüklemekten daha hızlıdır çünkü CDN'ler genellikle dünya çapında birçok sunucuya sahiptir ve bu sunucular, kullanıcıya en yakın olanı seçerek içeriği hızlı bir şekilde teslim eder. 
2. CDN'ler, web sitenizin yüklenme süresini azaltarak kullanıcı deneyimini iyileştirebilir.

-->